[Desktop Entry]
Type=Application
Exec=gnome-terminal
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_GB]=gnome-terminal
Name=gnome-terminal
Comment[en_GB]=
Comment=
